@media (max-width: 852px) {
    .container {
        flex-direction: column;
        object-fit: cover;
        margin: 0 auto;
    }
    .logo {
        display: flex;
    }
    footer {
        margin: auto;
    }
}

body, input, select, textarea, button {
    font-family: 'Open Sans', sans-serif;
    color: #AC80A0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em;
}
fieldset {
    margin: .5em;
    background-color: #fdfdfd;
    border-color: #9BA0BC;
    border-width: .25em;
    border-style: solid;
    border-radius: 1em;
}

html, body {
  height: 100%;
  font-weight: 800;
}

body {
  font-family: Arial;
}

button {
    size:250%;
}

.submit {
    background-color: #A9DDD6;
    border: none;
    border-radius: 1em;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
}

.submit:active {
    background-color: #7A8B99;
    font-size: 20px;
}

.submit:visited {
    background-color: lightslategray;
}

label {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}

textarea {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#journalDate {
    height: 30px;
    font-size: 14pt;
}

#conceptsCovered {
    height: 30px;
    font-size: 14pt;
}

#mood {
    background-color: white;
    color: #66101F;
    font-size: inherit;
}

footer {
    text-align: center;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background-color: #f0f0f0;
    position: fixed;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.radioButton > label{
    display: inline-flex;
}