.journal-entry {
    text-align: left;
    border-bottom: 5px dashed;
    border-color: #9BA0BC;
    margin-bottom:50px;
    padding-bottom: 15px;
}

#returnTop {
    background-color: #A9DDD6;
    border: none;
    border-radius: 1em;
    margin: 20px 0px 0px 0px;
    padding: 10px 20px;
    text-decoration: none;
}

#returnTop:active {
    background-color: #7A8B99;
}

#returnTop:visited {
    background-color: lightslategray;
}